@using OnlineStore.Models.Responses
@using Blazored.Toast.Services

@inherits AppComponentBase
@inject NavigationManager NavigationManager

<div class="productItem" @onclick="@(() => NavigationManager.NavigateTo($"/productInfo/{Product.ProductId}"))">
    <ul>
        <li>@Product.ProductName</li>
        <li>Цена: @Product.Price</li>
    </ul>
</div>

@code {

    [Parameter]
    public ProductResponse Product { get; set; }
}