@page "/categories"
@using OnlineStore.BlazorClient.Components
@using OnlineStore.Models.Responses

@inherits AppComponentBase

<h3>Категории</h3>

<div>
    @if (_categories is not null)
    {
        foreach (var category in _categories.Categories)
        {
            <CategoryItem Category="category"/>
        }
    }
</div>

@code {
    
    private CategoriesResponse? _categories;

    // [Parameter]
    // public Guid CategoryId { get; set; }
    //
    // [Parameter]
    // public CategoryResponse CategoryResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _categories = await ShopClient.GetCategories();
    }

}