@page "/signUp"
@using OnlineStore.Models.Requests
@inherits OnlineStore.BlazorClient.Components.AppComponentBase

<h3>Авторизация</h3>

<EditForm Model="_request" OnValidSubmit="Register">
    <DataAnnotationsValidator/>
    Email <input type="email" @bind-value="_request.Email"/>
    Login: <input type="text" @bind-value="_request.Name"/>
    Password: <input type="password" @bind-value="_request.Password"/>
    <ValidationSummary/>
    <input type="submit" value="Sign Up"/>
</EditForm>

@code {
    private readonly RegisterRequest _request = new();

    private async Task Register()
    {
        var response = await ShopClient.Register(_request);
        await LocalStorage.SetItemAsync("token", response.Token);
    }
}