@page "/signIn"
@using OnlineStore.Models.Requests

@inherits OnlineStore.BlazorClient.Components.AppComponentBase
@inject NavigationManager NavigationManager;
<h3>Вход</h3>

<EditForm Model="_request" OnValidSubmit="Authentication">
    <DataAnnotationsValidator/>
    Email <input type="email" @bind-value="_request.Email"/>
    Пароль: <input type="password" @bind-value="_request.Password"/>
    <ValidationSummary/>
    <input type="submit" value="Войти"/>
</EditForm>

@code {
    private readonly AuthRequest _request = new ();

    private async Task Authentication()
    {
        var response = await ShopClient.Authentication(_request);
        await LocalStorage.SetItemAsStringAsync("token", response.Token);
        NavigationManager.NavigateTo("account");
    }

}