@page "/signIn"
@using OnlineStore.HttpApiClient
@using OnlineStore.Models.Requests

<h3>Вход</h3>

@inject IShopClient ShopClient

<EditForm Model="_request" OnValidSubmit="Authentication">
    <DataAnnotationsValidator/>
    Email <input type="email" @bind-value="_request.Email"/>
    Password: <input type="password" @bind-value="_request.Password"/>
    <ValidationSummary/>
    <input type="submit" value="Sign In"/>
</EditForm>

@code {
    private AuthRequest _request = new AuthRequest();
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task Authentication()
    {
        await ShopClient.Authentication(_request);
    }

}