@page "/products"
@using OnlineStore.HttpApiClient
@using OnlineStore.BlazorClient.Components
@using OnlineStore.Domain.Entities

<h3>Список товаров</h3>

@inject IShopClient ShopClient;

@foreach (var product in _products)
{
    <ProductItem Product="product"/>
}

@code {

    private IReadOnlyList<Product>? _products = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _products = await ShopClient.GetProducts();
    }

}

